{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
    管理员
{% endblock %}

{% block menu %}
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="{% url 'admin' %}">管理员菜单</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
{% endblock %}


{% block main %}
    <form class="auth_form" action="{% url 'admin' %}" method="get" style="margin: 20px">
        <div class="form-group">
            <label for="username" class="col-sm-1 control-label">用户名</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="username" name="username" value="{{ userName }}">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <button type="submit" class="btn btn-default">查询</button>
            </div>
        </div>
    </form>

    <div class="col-xs-12 col-sm-12 col-md-12" style="margin: 20px">
        <table class="table table-striped">
            <thead>
            <th>id</th>
            <th>用户名</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>操作</th>
            </thead>
            {% for user in users %}
                <tbody>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.is_superuser }}</td>
                <td>{{ user.date_joined }}</td>
                {% if user.is_superuser %}
                    <td><a href="{% url 'admin_setting' %}?username={{ user.username }}&setting=off">设置为普通用户</a></td>
                {% else %}
                    <td><a href="{% url 'admin_setting' %}?username={{ user.username }}&setting=on">设置为管理员</a></td>
                {% endif %}
                </tbody>
            {% endfor %}
        </table>

        {% if not current_page == 1 %}
            <a href="{% url 'admin' %}?page={{ current_page|add:-1 }}">上一页</a>
        {% endif %}
        {% if not current_page == total_page %}
            <a href="{% url 'admin' %}?page={{ current_page|add:1 }}">下一页</a>
        {% endif %}
        <p>当前第{{ current_page }}页，共{{ total_page }}页；共{{ total_users }}条数据</p>
    </div>
{% endblock %}