{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
    管理员
{% endblock %}

{% block main %}
    <form class="form-inline" action="{% url 'admin' %}" method="get" style="margin: 20px">
        <div class="form-group">
            <label class="sr-only" for="username">用户名</label>
            <div class="input-group">
                <div class="input-group-addon">用户名</div>
                <input type="text" class="form-control" id="username" name="username" placeholder="用户名"
                       value="{{ query_name }}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">查询</button>
    </form>

    <div class="col-xs-12 col-sm-12 col-md-12" style="margin: 20px">
        <table class="table table-hover">
            <thead>
            <th>id</th>
            <th>用户名</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>操作</th>
            </thead>
            {% for user in users %}
                <tbody>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.is_superuser }}</td>
                <td>{{ user.date_joined }}</td>
                {% if user.is_superuser %}
                    <td><a href="{% url 'admin_setting' %}?username={{ user.username }}&setting=off">设置为普通用户</a></td>
                {% else %}
                    <td><a href="{% url 'admin_setting' %}?username={{ user.username }}&setting=on">设置为管理员</a></td>
                {% endif %}
                </tbody>
            {% endfor %}
        </table>
        <nav aria-label="...">
            <ul class="pager">
                {% if not current_page == 1 %}
                    <li><a href="{% url 'admin' %}?page={{ current_page|add:-1 }}">Previous</a></li>
                {% endif %}
                {% if not current_page == total_page %}
                    <li><a href="{% url 'admin' %}?page={{ current_page|add:1 }}">Next</a></li>
                {% endif %}
                <p>当前第{{ current_page }}页，共{{ total_page }}页；共{{ total_users }}条数据</p>
            </ul>
        </nav>
    </div>
{% endblock %}